    {%- set header = [] -%}
    <div class="model-header">
        <div class="header">
            <span class="back"></span>
            <div class="title">{{ title }}{{ message }}</div>
            <div class="pull"></div>
            <div class="entry">
                <div class="content">
                    <a href="/">
                        <i class="home"></i>
                        <span>首页</span>
                    </a>
                    <a href="/category">
                        <i class="category"></i>
                        <span>分类</span>
                    </a>
                    <a href="/cart">
                        <i class="cart"></i>
                        <span>购物车</span>
                    </a>
                    <a href="/user">
                        <i class="user"></i>
                        <span>我的</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="model-seet"></div>
    </div>