<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    {% block title %} {% endblock %}
    <meta name="keywords" content="银泰网" />
    <meta name="description" content="银泰网（www.yintai.com）作为银泰商业集团官方购物网站,专注经营精品时尚百货类，包括女装，男装，鞋靴，化妆品，运动系列，时尚配饰，名品箱包等万种百货商品，100%正品，15天免费退换货。银泰网作为银泰百货连锁在线购物中心，致力打造成为中国最卓越的百货购物网站！" />
    <meta content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width" name="viewport" />
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta content="black" name="apple-mobile-web-app-status-bar-style" />
    <meta content="telephone=no" name="format-detection" />
    <link rel="stylesheet" href="../style/style.css" />
    {% block style %} {% endblock %}
</head>
<body>

<div id="hd">
    {% block header %} {% endblock %}
</div>

<div id="bd">
    {% block content %} {% endblock %}
</div>

<div id="ft">
    {% block footer %} {% endblock %}
</div>

<div id="api">
    <script type="text/javascript" src="../script/zepto.js"></script>
    {% block script %} {% endblock %}
</div>

</body>
</html>