    {% set user = content.user %}
    {% set info = content.indexinfo %}
    <div class="user-information">
        <div class="user-img ">
            <img src="http://r.ytrss.com/mobile/img/user-head.png" alt="">
        </div>
        <p class="user-name">{{ user.name }}</p> 
        <p class="user-level">{{ user.class }}</p>
    </div>

    <div class="user-money cf">
        <a class="jifen" href="http://my.yintai.com/m_account/MyPointIndex?platformid=1">
            <strong>{{ user.point }}</strong>
            <span>积分</span>
        </a>
        <a class="yinyuan" href="http://my.yintai.com/m_account/MyCoinIndex?platformid=1">
            <strong>{{ user.coin.toFixed(2) }}</strong>
            <span>银元</span>
        </a>
        <a class="yue" href="/UserCenter/Balance?platformid=1">
            <strong>{{ user.money.toFixed(2) }}</strong>
            <span>余额</span>
        </a>
        <a class="ytcard" href="http://my.yintai.com/m_account/MyCardIndex?platformid=1">
            <strong>{{ user.ytcard.toFixed(2) }}</strong>
            <span>银泰卡</span>
        </a>
    </div>

    <div class="user-order cf">
        <a class="allorder" href="/Sales/Allorder">
            <span><i></i>全部订单{% if info.onroadcount > 0 %}<em>{{ info.onroadcount }}</em>{% endif %}</span>
        </a>
        <a class="wait-pay" href="/Sales/Waitpay">
            <span><i></i>待付款{% if info.needpaycount > 0 %}<em>{{ info.needpaycount }}</em>{% endif %}</span>
        </a>
        <a class="wait-shouhuo" href="/Sales/Delivery">
            <span><i></i>待收货{% if info.addresscount > 0 %}<em>{{ info.addresscount }}</em>{% endif %}</span>
        </a>
        <a class="wait-return" href="/">
             <span><i></i>退换货{% if info.waybillcount > 0 %}<em>{{ info.waybillcount }}</em>{% endif %}</span>
        </a>
    </div>

    <div class="user-other cf">
        <a class="shoucang" href="/UserCenter/Collection">
            <span><i></i>我的收藏</span>
        </a>  
        <a class="look-jilu" href="/UserCenter/Browse">
            <span><i></i>浏览记录</span>
        </a>
    </div>

    <div class="user-common">
        <a class="youhuiquan",href="/Sales/CouponList">优惠券
            <div class="yingyongnum">
                <span class="pink">{{ info.promotioncount }}</span>
            </div>
            <em></em>
        </a>
        <div class="hr"></div>

        <a class="yintai-phone",href="/UserCenter/BindPhone">绑定手机号
            <div class="infor-phone">
                <span class="pink">{{ user.cellphoneconfusion }}</span>
            </div>
            <em></em>
        </a>
        <div class="hr"></div>

        {% if info.setpaypassword %}
        <a class="yintai-paypw",href="/UserCenter/SetPayPassword">设置支付密码
            <div class="infor-phone">
                <span class="pink"></span>
            </div>
            <em></em>
        </a>
        <div class="hr"></div>
        {% endif %}

        <a class="address",href="/Address/AddressList?returnurl=UserCenter">地址管理
            <em></em>
        </a>
    </div>
    
    <div class="user-common">
        <a class="infor-center",href="/UserCenter/Message">消息中心
            <div class="infor-centernum">
                <span class="pink">{{ info.msgcount }}</span>
            </div>
            <em></em>
        </a>
        <div class="hr"></div>

        <a class="yintai-tel",href="tel:4001191111">客服电话
            <span class="help-tel">
                <i class="pink">400-119-1111</i>(8:00-24:00)
            </span>
            <em></em>
        </a>
    </div>
    
    <div class="user-common">
        <a class="yintai-download",href="http://m.yintai.com/Event/appdown/ios_yingyongbao.html?id=H5web">下载银泰网客户端
            <span class="pink"></span>
            <em></em>
        </a>
    </div>

    <div class="user-common">
        <a class="hc-helpCenter",href="/Help/Index?type=html5">帮助中心
            <em></em>
        </a>
    </div>

    <div class="user-logout">退出账户</div>