    {% set user = content.user %}
    {% set info = content.info %}
    <div class="user-info">
        <div class="user-avatar ">
            <span><img src="./picture/avatar.jpg" alt="头像"></span>
        </div>
        <p class="user-name">{{ user.name }}</p> 
        <p class="user-level">{{ user.class }}</p>
    </div>

    <div class="user-money">
        <a class="jifen" href="/">
            <strong>{{ user.point }}</strong>
            <span>积分</span>
        </a>
        <a class="yinyuan" href="/">
            <strong>{{ user.coin.toFixed(2) }}</strong>
            <span>银元</span>
        </a>
        <a class="yue" href="/">
            <strong>{{ user.money.toFixed(2) }}</strong>
            <span>余额</span>
        </a>
        <a class="ka" href="/">
            <strong>{{ user.ytcard.toFixed(2) }}</strong>
            <span>银泰卡</span>
        </a>
    </div>

    <div class="user-order">
        <a class="order" href="/user/order">
            <span>全部订单{% if info.onroadcount > 0 %}<em>{{ info.onroadcount }}</em>{% endif %}</span>
        </a>
        <a class="pay" href="/user/order/pay">
            <span>待付款{% if info.needpaycount > 0 %}<em>{{ info.needpaycount }}</em>{% endif %}</span>
        </a>
        <a class="send" href="/user/order/send">
            <span>待收货{% if info.addresscount > 0 %}<em>{{ info.addresscount }}</em>{% endif %}</span>
        </a>
        <a class="evaluate" href="/user/order/evaluate">
             <span>待评价{% if info.waybillcount > 0 %}<em>{{ info.waybillcount }}</em>{% endif %}</span>
        </a>
    </div>

    <div class="user-common">
        <a class="coupon" href="/user/coupon">
            <strong>优惠券</strong>
            <div class="count">
                <span class="pink">{{ info.promotioncount }}</span>
            </div>
            <em></em>
        </a>
        <div class="hr"></div>

        <a class="phone" href="/user/phone">
            <strong>手机号</strong>
            <div class="count">
                <span class="pink">{{ user.cellphoneconfusion }}</span>
            </div>
            <em></em>
        </a>
        <div class="hr"></div>

        {% if info.setpaypassword %}
        <a class="password" href="/user/password">
            <strong>支付密码</strong>
            <div class="count">
                <span class="pink"></span>
            </div>
            <em></em>
        </a>
        <div class="hr"></div>
        {% endif %}

        <a class="address" href="/user/address">
            <strong>地址管理</strong>
            <em></em>
        </a>
    </div>
    
    <div class="user-common">
        <a class="shoucang" href="/user/collection">
            <strong>我的收藏</strong>
            <span class="pink"></span>
            <em></em>
        </a>
        <div class="hr"></div>
        <a class="jilu" href="/user/browse">
            <strong>浏览记录</strong>
            <span class="pink"></span>
            <em></em>
        </a>
    </div>

    <div class="user-common">
        <a class="info-center" href="/user/message">
            <strong>消息中心</strong>
            <div class="count">
                <span class="pink">{{ info.msgcount }}</span>
            </div>
            <em></em>
        </a>
        <div class="hr"></div>

        <a class="info-tel" href="tel:4001191111">
            <strong>客服电话</strong>
            <span class="count">
                <i class="pink">400-119-1111</i>(8:00-24:00)
            </span>
            <em></em>
        </a>
    </div>
    
    <div class="user-common">
        <a class="help" href="/help">
            <strong>帮助中心</strong>
            <em></em>
        </a>
    </div>

    <div class="user-common">
        <a class="download" href="/download">
            <strong>下载客户端</strong>
            <span class="pink"></span>
            <em></em>
        </a>
    </div>

    <div class="user-logout">
        <div id="logout">退出账户</div>
    </div>