<div class="possword">

    <div class="field">
        <div class="label">验证码</div>
        <div class="control">
            <input type="text" class="required" placeholder="请输入收到的验证码~" id="verify">
        </div>
    </div>

    <div class="field">
        <div class="label">新密码</div>
        <div class="control">
            <input type="password" class="required" placeholder="请输入新密码，不能少于6位字符~" id="password">
        </div>
    </div>

    <div class="field">
        <div class="label">确认新密码</div>
        <div class="control">
            <input type="password" class="required" placeholder="请再次输入新密码~" id="checkpassword">
        </div>
    </div>

    <div class="submit">
        <span type="submit" class="enter">提 交</span>
    </div>

</div>