    {% set user = content.user %}
    {% set info = content.info %}
    <div class="user-info">
        <div class="user-avatar ">
            <span><img src="./images/avatar.jpg" alt="头像"></span>
        </div>
        <p class="user-name">{{ user.name }}</p> 
        <p class="user-level">{{ user.class }}</p>
    </div>

    <div class="user-money">
        <a class="jifen" href="/">
            <strong>{{ user.point }}</strong>
            <span>积分</span>
        </a>
        <a class="yinyuan" href="/">
            <strong>{{ user.coin.toFixed(2) }}</strong>
            <span>银元</span>
        </a>
        <a class="yue" href="/">
            <strong>{{ user.money.toFixed(2) }}</strong>
            <span>余额</span>
        </a>
        <a class="ka" href="/">
            <strong>{{ user.ytcard.toFixed(2) }}</strong>
            <span>银泰卡</span>
        </a>
    </div>

    <div class="user-order">
        <a class="order" href="/user/order">
            <span>全部订单{% if info.onroadcount > 0 %}<em>{{ info.onroadcount }}</em>{% endif %}</span>
        </a>
        <a class="pay" href="/user/order/pay">
            <span>待付款{% if info.needpaycount > 0 %}<em>{{ info.needpaycount }}</em>{% endif %}</span>
        </a>
        <a class="send" href="/user/order/send">
            <span>待收货{% if info.addresscount > 0 %}<em>{{ info.addresscount }}</em>{% endif %}</span>
        </a>
        <a class="evaluate" href="/user/order/evaluate">
             <span>待评价{% if info.waybillcount > 0 %}<em>{{ info.waybillcount }}</em>{% endif %}</span>
        </a>
    </div>

    <div class="user-common">
        <a class="coupon" href="/user/coupon">
            优惠券
            <div class="count">
                <span class="pink">{{ info.promotioncount }}</span>
            </div>
            <em></em>
        </a>
        <div class="hr"></div>

        <a class="phone" href="/user/phone">
            绑定手机号
            <div class="count">
                <span class="pink">{{ user.cellphoneconfusion }}</span>
            </div>
            <em></em>
        </a>
        <div class="hr"></div>

        {% if info.setpaypassword %}
        <a class="password" href="/user/password">
            设置支付密码
            <div class="count">
                <span class="pink"></span>
            </div>
            <em></em>
        </a>
        <div class="hr"></div>
        {% endif %}

        <a class="address" href="/user/address">
            地址管理
            <em></em>
        </a>
    </div>
    
    <div class="user-common">
        <a class="shoucang" href="/user/collection">
            我的收藏
            <span class="pink"></span>
            <em></em>
        </a>
        <div class="hr"></div>
        <a class="jilu" href="/user/browse">
            浏览记录
            <span class="pink"></span>
            <em></em>
        </a>
    </div>

    <div class="user-common">
        <a class="info-center" href="/user/message">消息中心
            <div class="count">
                <span class="pink">{{ info.msgcount }}</span>
            </div>
            <em></em>
        </a>
        <div class="hr"></div>

        <a class="info-tel" href="tel:4001191111">客服电话
            <span class="count">
                <i class="pink">400-119-1111</i>(8:00-24:00)
            </span>
            <em></em>
        </a>
    </div>
    
    <div class="user-common">
        <a class="download" href="download">下载银泰网客户端
            <span class="pink"></span>
            <em></em>
        </a>
    </div>

    <div class="user-common">
        <a class="help" href="help">帮助中心
            <em></em>
        </a>
    </div>

    <div class="user-logout">退出账户</div>