<div class="BannerList grid-one cf">
	<div class="listbanner">
		<div class="inlist cf">
            {% for picture in content %}
            {% if loop.first %}
            <div>
                <a href="{{ picture.jumpurl }}">
                    <img src="{{ picture.imgurl }}" alt="{{ picture.imgname }}" width="100%" />
                </a>
            </div>
            {% else %}
            <div>
                <a href="{{ picture.jumpurl }}">
                    <img src="http://r.ytrss.com/mobile/img/pic-0.png" data-src="{{ picture.imgurl }}" alt="{{ picture.imgname }}" width="100%" />
                </a>
            </div>
            {% endif %}
            {% endfor %}
		</div>
	</div>
	<div class="linelist">
        {% for picture in content %}
        {% if loop.first %}
        <span class="on"></span>
        {% else %}
        <span></span>
        {% endif %}
        {% endfor %}
    </div>
</div>