<div class="FloorFoot grid-one cf" id="{{ content.templateid }}" title="{{ content.templateid }}_{{ content.templatename }}">
    {% if content.items %}
        {% set item = content.items %}
        {% for info in item %}
            {% if info.jumpurl %}
            <a href="{{ info.jumpurl }}">
                <img data-original="{{ info.imgurl }}" src="http://r.ytrss.com/mobile/img/pic-1.png" alt="{{ info.imgname }}" width="100%" />
            </a>
            {% else %}
            <div class="img-{{ loop.index }}">
                <img data-original="{{ info.imgurl }}" src="http://r.ytrss.com/mobile/img/pic-1.png"  width="100%" />
            </div>
            {% endif %}
        {% endfor %}
    {% endif %}
</div>