{% if content.bottommargin > 0 %}
<div class="FloorHead-space"></div>
{% endif %}
<div class="FloorHead grid-one cf" id="{{ content.templateid }}" title="{{ content.templateid }}_{{ content.templatename }}">
    {% for item in items %}
        {% if loop.first && item.extra && item.extra.seckillcountdowndate > 0 %}
        <div class="count-time J-CountTime" id="J-CountTime' + k + '" start="{{ content.requestdate }}" end="{{ item.extra.seckillcountdowndate }}"></div>
        {% endif %}
        {% if item.jumpurl %}
        <a href="{{ info.jumpurl }}">
            <img data-original="{imgurl}" src="http://r.ytrss.com/mobile/img/pic-1.png" alt="{imgname}" width="100%" />
        </a>
        {% else %}
        <img data-original="{imgurl}" src="http://r.ytrss.com/mobile/img/pic-1.png" width="100%" />
        {% endif %}
    {% endfor %}
</div>
{% if content.bottommargin > 0 %}
<div class="FloorHead-space"></div>
{% endif %}