<div class="FuncAreaFiveImg grid-one cf" id="{{ content.templateid }}" title="{{ content.templateid }}_{{ content.templatename }}">
    <div class="FourImg cf">
    {% if content.items %}
        {% set item = content.items %}
        {% for info in item %}
            {% if info.jumpurl %}
            <div class="fun-5-{{ loop.index }}">
                <a href="{{ info.jumpurl }}">
                    <div>
                        <img data-original="{{ info.imgurl }}" src="http://r.ytrss.com/mobile/img/pic-5.png" alt="{{ info.imgname }}" width="100%" />
                    </div>
                    <p>{{ info.imgname.substring(0, 5) }}</p>
                </a>
            </div>
            {% endif %}
        {% endfor %}
    {% endif %}
    </div>
</div>
{% if content.bottommargin > 0 %}
<div class="FuncAreaFiveImg-space"></div>
{% endif %}