
    <div class="block-hot-container" id="{{ content.templateid }}">
        <div class="container" style="background:{{content.templatecolor}}">
            {% if content.items -%} {%- set item = content.items -%}
            <div class="left-channel">
                <a href="{{item[0].url}}">
                    <div class="title">{{item[0].title}}</div>
                    <div class="sales">{{item[0].sales}}</div>
                    <img src="{{item[0].img}}" alt="{{item[0].title}}" />
                </a>
            </div>
            <div class="right-channel">
                <div class="import">
                    <div class="left">
                        <a href="{{item[1].url}}">
                            <div class="title">{{item[1].title}}</div>
                            <div class="sales">{{item[1].sales}}</div>
                            <img src="{{item[1].img}}" alt="{{item[1].title}}" />
                        </a>
                    </div>
                    <div class="right">
                        <a href="{{item[2].url}}">
                            <img src="{{item[2].img}}" alt="" />
                        </a>
                    </div>
                </div>
                <div class="bottom">
                    <div class="left">
                        <a href="{{item[3].url}}">
                            <div class="title">{{item[3].title}}</div>
                            <div class="sales">{{item[3].sales}}</div>
                            <div class="img">
                                <img src="{{item[3].img}}" alt="{{item[3].title}}" />
                            </div>
                        </a>
                    </div>
                    <div class="right">
                        <a href="{{item[4].url}}">
                            <div class="title">{{item[4].title}}</div>
                            <div class="sales">{{item[4].sales}}</div>
                            <div class="img">
                                <img src="{{item[4].img}}" alt="{{item[4].title}}" />
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            {%- endif %}
        </div>
    </div>
