<div class="ProductDoubleColumn grid-one cf" id="{{ content.templateid }}" title="{{ content.templateid }}_{{ content.templatename }}">
	<ul class="cf">
        {% for item in content.items %}
        {% set extra = item.extra %}{% set productdetail = extra.productdetail %}
        {% set prmotionlist = productdetail.prmotionlist %}
        {% for list in prmotionlist %}
            {% if list.plabel %}
            {% set plabel = list.plabel %}
            {% else %}
            {% set plabel = "" %}
            {% endif %}
        {% endfor %}
		<li class="{% if (loop.index0 % 2) %}pro-line{% endif %}">
			<div class="pro-one">
				<div class="pro-img">
                    {% if productdetail.ismiaowgoods %}
                    <i></i>
                    {% endif %}
					<a href="{{ item.jumpurl }}"><img data-original="{{ item.imgurl }}" src="http://r.ytrss.com/mobile/img/pic270-360.png" alt="{{ item.imgname }}" width="100%" /></a>
				</div>
				<div class="pro-name">{{ productdetail.name }}</div>
				<div class="pro-price">
					<span class="sell">￥<b>{{ productdetail.price.toFixed(2) }}</b></span>
					<span class="market">￥<s>{{ productdetail.marketprice.toFixed(2) }}</s></span>
				</div>
				<div class="pro-prom {% if !plabel %}hidden{% endif %}">{{ plabel }}</div>
			</div>
		</li>
        {% endfor %}
	</ul>
</div>
{% if content.bottommargin > 0 %}
<div class="ProductDoubleColumn' + k + 'mod-mar"></div>
{% endif %}