
    <div class="block-two-image" data-id="{{ content.templateid }}">
        <div class="picture" style="background:{{content.templatecolor}}">
        {% if content.items -%}
            {%- set item = content.items -%}
            {% for info in item -%}
            <div class="picture-{{ loop.index }}">
                {% if info.jumpurl %}
                <a data-id={{info.itemid}} href="{{ info.jumpurl }}">
                    <img src="{{ info.imgurl }}" alt="{{ info.imgname }}" />
                </a>
                {% endif %}
            </div>
            {%- endfor %}
        {%- endif %}
        </div>
    </div>
