<div class="register">
    <div class="tips">
        <p>为了你的账户安全请填写一个手机号完成验证</p>
    </div>
    <div class="field">
        <div class="label">账户</div>
        <div class="control">
            <input type="text" class="required" name="username" placeholder="手机号" id="username">
        </div>
    </div>
    <div class="field"> 
        <div class="label">密码</div>
        <div class="control">
            <input type="password" class="required" name="password" placeholder="请输入密码" id="password">
        </div>
    </div>
    <div class="submit">
        <span type="submit" class="enter">注 册</span>
    </div>
    <div class="declare">
        <p>继续操作即视为同意<strong>XXX服务协议</strong>、<strong>法律声明</strong>及<strong>隐私权政策</strong></p>
    </div>
</div>