html {
    background-color: #e5f0f2;
}

.app-error {
    padding: 0.3rem;
}

.app-error .tip {
    padding: 1rem 1.5rem;
}

.app-error .tip img {
    width: 100%;
    vertical-align: top;
}

.app-error .text {
    width: 100%;
}

.app-error .text h3 {
    text-align: center;
    font-size: 36px;
}

.app-error .text p {
    text-align: center;
    font-size: 16px;
}

.app-error-container {
    display: none;
    padding: .3rem;
}

.app-error-container h1 {
    font-size: 14px;
    line-height: 36px;
    font-weight: 700;
}

.app-error-container h2 {
    font-weight: 700;
}

.app-error-container div {
    width: 100%;
    word-wrap: break-word;
}