.block-head {
    width: 100%;
}

.block-head .hold {
    height: 1.1rem;
}

.block-head .main {
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 999;
    width: 100%;
    color: #fff;
    background-color: #f50;
}

.block-head .head {
    position: relative;
    padding: .2rem 0;
}

.block-head .check-city {
    position: absolute;
    left: 0;
    top: .2rem;
    height: .85rem;
    padding-left: .14rem;
}

.block-head .check-city span {
    display: inline-block;
    height: .85rem;
    line-height: .85rem;
    padding-right: .1rem;
    vertical-align: middle;
    font-size: 16px;
}

.block-head .check-city i {
    display: inline-block;
    width: .45rem;
    height: .85rem;
    background: url(/picture/arrowdown.png) -.18rem .05rem/.8rem .8rem no-repeat;
    vertical-align: middle;
}

.block-head .search {
    height: .85rem;
    padding: 0 1.25rem 0 2rem;
}

.block-head .circle {
    height: .85rem;
    border-radius: .06rem;
    background-color: #fff;
    overflow: hidden;
    position: relative;
}

.block-head .search-txt {
    width: 100%;
    height: .85rem;
    padding-left: .15rem;
    padding-right: 1.25rem;
    border: none;
}

.block-head .search-txt::-webkit-input-placeholder {
    color: #cacaca;
}

.block-head .search-go {
    position: absolute;
    right: .1rem;
    top: .09rem;
    width: .65rem;
    height: .65rem;
    padding-left: .15rem;
    border-left: 1px solid #ddd;
    background: url(/picture/search.png) .1rem 0/.65rem .65rem no-repeat;
}

.block-head .user {
    position: absolute;
    right: 0;
    top: .2rem;
    width: 1rem;
    height: .85rem;
}

.block-head .user a {
    display: block;
    width: 1rem;
    height: .85rem;
    background: url(/picture/usercenter.png) 0 0/.85rem .85rem no-repeat;
}

.block-one-image {
    width: 100%;
}

.block-one-image a {
    display: block;
}

.block-one-image img {
    display: block;
    width: 100%;
}

.block-carousel-figure {
    width: 100%;
    position: relative;
}

.block-carousel-figure .carousel-figure {
    padding: .2rem 0;
    overflow: hidden;
}

.block-carousel-figure .category {
    display: flex;
    flex-wrap: nowrap;
}

.block-carousel-figure .category .figure {
    padding: 0 .2rem;
    position: relative;
    width: 100%;
}

.block-carousel-figure a,
.block-carousel-figure img {
    width: 100%;
    display: block;
}

.block-carousel-figure .marker {
    width: 100%;
    bottom: .4rem;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}

.block-carousel-figure .marker span {
    display: inline-block;
    width: .38rem;
    height: .038rem;
    margin: 0 .06rem;
    background: rgba(255, 255, 255, .5);
}

.block-carousel-figure .marker .pointer {
    background: #f5734b;
}

.block-five-category {
    width: 100%;
}

.block-five-category .five-img {
    display: flex;
    padding: 0 .2rem;
    background-color: #fff;
}

.block-five-category a {
    width: 20%;
    flex: 1;
}

.block-five-category div {
    width: 100%;
    margin: 0 auto;
    padding: .2rem;
}

.block-five-category img {
    width: 100%;
    display: block;
}

.block-five-category p {
    height: 16px;
    margin: 0 auto 8px;
    text-align: center;
    overflow: hidden
}

.block-five-category div a {
    color: #666
}

.block-hot-product {
    width: 100%;
}

.block-hot-product .back {
    padding: 0 .15rem 0.2rem .2rem;
}

.block-hot-product .product {
    display: flex;
    flex-wrap: wrap;
    border-radius: 0 0 .2rem .15rem;
    box-shadow: 0 .08rem .16rem 0 rgba(0, 0, 0, .14);
    overflow: hidden;
}

.block-hot-product .product .every {
    width: 33.3333%;
}

.block-hot-product .product .pro-one {
    display: block;
    position: relative;
    background-color: #fff;
    border-width: 0.5px 0.5px 0 0;
    border-style: solid;
}

.block-hot-product .product .pro-img {
    text-align: center;
    padding: 0.2rem;
}

.block-hot-product .product .pro-img img {
    width: 100%;
    vertical-align: top;
}

.block-hot-product .product .pro-name {
    overflow: hidden;
    padding: 0 0.2rem;
    white-space: pre-wrap;
    word-wrap: break-word;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
    color: #333;
    text-align: center;
}

.block-hot-product .product .pro-price {
    padding: 0.1rem 0.2rem;
    text-align: center;
}

.block-hot-product .product .pro-price span {
    color: #f50;
}

.block-hot-product .product .pro-sales {
    padding: 0 0.2rem 0.2rem;
    text-align: center;
    clear: both;
}

.block-hot-product .product .pro-sales span {
    display: inline-block;
    padding: 0.05rem 0.2rem;
    border-radius: 1rem;
    background-color: #f50;
    color: #fff;
}

.block-two-image {
    width: 100%;
}

.block-two-image .picture {
    display: flex;
    padding: .2rem .2rem 0;
}

.block-two-image .picture>div {
    flex: 1;
    width: 50%;
    overflow: hidden;
}

.block-two-image .picture a {
    display: block;
}

.block-two-image .picture img {
    width: 100%;
    display: block;
}

.block-two-image .picture .picture-1 {
    border-top-left-radius: 3px;
}

.block-two-image .picture .picture-2 {
    border-top-right-radius: 3px;
}

.block-product {
    width: 100%;
}

.block-product .product-double {
    padding: .2rem .2rem 0;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.block-product .product-double .every {
    width: 50%;
    margin-bottom: .2rem;
}

.block-product .product-double .pro-one {
    display: block;
    margin-right: .1rem;
    position: relative;
    background-color: #fff;
    box-shadow: 0 .08rem .16rem 0 rgba(0, 0, 0, .14);
}

.block-product .product-double .pro-one.pro-line {
    margin-right: 0;
    margin-left: .1rem;
}

.block-product .product-double .pro-img {
    text-align: center;
}

.block-product .product-double .pro-img img {
    width: 100%;
    vertical-align: top;
}

.block-product .product-double .pro-like {
    margin: 0 .2rem;
}

.block-product .product-double .pro-name {
    height: 1rem;
    line-height: 0.5rem;
    margin: 0.1rem 0 0;
    overflow: hidden;
    white-space: pre-wrap;
    word-wrap: break-word;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    color: #333
}

.block-product .product-double .pro-price {
    margin-bottom: .1rem;
}

.block-product .product-double .pro-price .sell {
    margin-right: 0.1rem;
    color: #f50;
}

.block-product .product-double .pro-price .sell b {
    font-size: 16px
}

.block-product .product-double .pro-price .market {
    color: #666
}

.block-product .product-double .pro-sales {
    padding-bottom: 0.2rem;
    text-align: center;
    clear: both;
}

.block-product .product-double .pro-sales span {
    display: block;
    padding: 0.15rem 0;
    border-radius: 0.1rem;
    background-color: #f50;
    color: #fff;
}

.block-product .product-double .pro-prom {
    position: absolute;
    top: .2rem;
    right: 0;
    padding: 0.08rem 0.1rem;
    background-color: #f50;
    color: #fff
}

.block-product .product-double .pro-none {
    display: none;
}

.block-hot-brand {
    width: 100%;
}

.block-hot-brand .entrance {
    padding: 0 .2rem;
    display: flex;
}

.block-hot-brand .entrance .every {
    flex: 1;
    width: 25%;
    position: relative;
    padding-bottom: .12rem;
    background-color: #fff;
    margin-right: .05rem;
    margin-bottom: .05rem;
    box-shadow: 0 .08rem .16rem 0 rgba(0, 0, 0, .14);
    border-radius: .05rem;
    overflow: hidden;
}

.block-hot-brand .entrance .every a {
    display: block;
}

.block-hot-brand .entrance .img {
    padding: .2rem;
}

.block-hot-brand .entrance .img img {
    width: 100%;
    vertical-align: top;
}

.block-hot-brand .entrance .modify {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
}

.block-hot-brand .entrance .title {
    width: 100%;
    padding-top: 0.3rem;
    text-align: center;
    position: relative;
    z-index: 1;
    color: #fff;
    font-size: 14px;
}

.block-hot-brand .entrance .sales {
    width: 100%;
    text-align: center;
    position: relative;
    z-index: 1;
    color: #fff;
}

.block-hot-container {
    width: 100%;
}

.block-hot-container .container {
    display: flex;
    padding: 0 .2rem;
}

.block-hot-container .container>div {
    height: 6rem;
}

.block-hot-container .container .left-channel {
    width: 40%;
    position: relative;
}

.block-hot-container .container .right-channel {
    width: 60%;
    background-color: #fff;
}

.block-hot-container .container .left-channel a {
    display: block;
}

.block-hot-container .container .left-channel img {
    width: 100%;
    display: block;
}

.block-hot-container .container .left-channel .title {
    position: absolute;
    top: .2rem;
    left: .2rem;
    font-size: 14px;
    color: #fff;
}

.block-hot-container .container .left-channel .sales {
    position: absolute;
    top: .7rem;
    left: .2rem;
    color: #fff;
}

.block-hot-container .container .import {
    display: flex;
    height: 2.8rem;
    border-bottom: 1px solid #f1f1f1;
}

.block-hot-container .container .import>div {
    flex: 1;
    width: 50%;
}

.block-hot-container .container .import .left {
    padding: .4rem 0 0 .4rem;
}

.block-hot-container .container .import .left .title {
    color: #962efb;
    font-size: 14px;
}

.block-hot-container .container .import .left .sales {
    padding: 0 0 .05rem;
    color: #999;
}

.block-hot-container .container .import .left img {
    width: 70%;
}

.block-hot-container .container .import .right {
    overflow: hidden;
}

.block-hot-container .container .import .right a {
    display: block;
    padding: .4rem;
}

.block-hot-container .container .import .right img {
    width: 100%;
    display: block;
}

.block-hot-container .container .bottom {
    display: flex;
    height: 3.2rem;
}

.block-hot-container .container .bottom>div {
    flex: 1;
    width: 50%;
}

.block-hot-container .container .bottom>div .title {
    padding: .2rem 0 0 .4rem;
    font-size: 14px;
}

.block-hot-container .container .bottom>div .sales {
    padding-left: .4rem;
    color: #999;
}

.block-hot-container .container .bottom>div .img {
    padding: .15rem .6rem 0;
}

.block-hot-container .container .bottom>div .img img {
    width: 100%;
    display: block;
}

.block-hot-container .container .bottom .left {
    border-right: 0.5px solid #f1f1f1;
}

.block-hot-container .container .bottom .right {
    border-right: 0.5px solid #f1f1f1;
}

.block-hot-container .container .bottom .left .title {
    color: #977830;
}

.block-hot-container .container .bottom .right .title {
    color: #993533;
}

.block-four-container {
    width: 100%;
}

.block-four-container .container {
    display: flex;
    padding: 0 .2rem;
    box-shadow: 0 .08rem .16rem 0 rgba(0, 0, 0, .14);
}

.block-four-container .container>div {
    height: 3.4rem;
    background-color: #ffe9ec;
}

.block-four-container .container a {
    display: block;
}

.block-four-container .container img {
    width: 100%;
}

.block-four-container .container .left-channel {
    width: 40%;
    position: relative;
    border-right: 0.5px solid #f1f1f1;
}

.block-four-container .container .right-channel {
    display: flex;
    width: 60%;
    border-left: 0.5px solid #f1f1f1;
}

.block-four-container .container .left-channel .title {
    padding: .4rem 0 0 .4rem;
    font-size: 14px;
    color: #333;
}

.block-four-container .container .left-channel .sales {
    padding: 0 0 .25rem .4rem;
    color: #999;
}

.block-four-container .container .left-channel .img {
    display: flex;
    margin: 0 .4rem;
}

.block-four-container .container .left-channel .img>div {
    flex: 1;
}

.block-four-container .container .left-channel .img>div:first {
    margin-right: .1rem;
}

.block-four-container .container .left-channel .img>div:last-child {
    margin-left: .1rem;
}

.block-four-container .container .left-channel .img>div img {
    display: block;
}

.block-four-container .container .right-channel>div {
    flex: 1;
}

.block-four-container .container .right-channel>div:first {
    border-right: 0.5px solid #f1f1f1;
}

.block-four-container .container .right-channel>div:last-child {
    border-left: 0.5px solid #f1f1f1;
}

.block-four-container .container .right-channel>div .title {
    padding: .4rem 0 0 .4rem;
    font-size: 14px;
    color: #333;
}

.block-four-container .container .right-channel>div .sales {
    padding: 0 0 .25rem .4rem;
    color: #999;
}

.block-four-container .container .right-channel>div .img {
    padding: 0 .7rem;
}