.block-head {
    width: 100%;
}

.block-head .hold {
    height: 1.1rem;
}

.block-head .main {
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 999;
    width: 100%;
    color: #fff;
    background-color: #f50;
}

.block-head .head {
    position: relative;
    padding: .2rem 0;
}

.block-head .check-city {
    position: absolute;
    left: 0;
    top: .2rem;
    height: .85rem;
    padding-left: .14rem;
}

.block-head .check-city span {
    display: inline-block;
    height: .85rem;
    line-height: .85rem;
    padding-right: .1rem;
    vertical-align: middle;
    font-size: 16px;
}

.block-head .check-city i {
    display: inline-block;
    width: .45rem;
    height: .85rem;
    background: url(/picture/arrowdown.png) -.18rem .05rem/.8rem .8rem no-repeat;
    vertical-align: middle;
}

.block-head .search {
    height: .85rem;
    padding: 0 1.25rem 0 2rem;
}

.block-head .circle {
    height: .85rem;
    border-radius: .06rem;
    background-color: #fff;
    overflow: hidden;
    position: relative;
}

.block-head .search-txt {
    width: 100%;
    height: .85rem;
    padding-left: .15rem;
    padding-right: 1.25rem;
    border: none;
}

.block-head .search-txt::-webkit-input-placeholder {
    color: #cacaca;
}

.block-head .search-go {
    position: absolute;
    right: .1rem;
    top: .09rem;
    width: .65rem;
    height: .65rem;
    padding-left: .15rem;
    border-left: 1px solid #ddd;
    background: url(/picture/search.png) .1rem 0/.65rem .65rem no-repeat;
}

.block-head .user {
    position: absolute;
    right: 0;
    top: .2rem;
    width: 1rem;
    height: .85rem;
}

.block-head .user a {
    display: block;
    width: 1rem;
    height: .85rem;
    background: url(/picture/usercenter.png) 0 0/.85rem .85rem no-repeat;
}


.block-one-image {
    width: 100%;
}

.block-one-image a {
    display: block;
}

.block-one-image img {
    display: block;
    width: 100%;
}

.block-carousel-figure {
    width: 100%;
    position: relative;
}

.block-carousel-figure .carousel-figure{
    padding: .2rem 0;
}

.block-carousel-figure .category {
	display:flex;
	flex-wrap:nowrap;
}

.block-carousel-figure .category .figure {
    padding: 0 .2rem;
    position: relative;
    width: 100%;
}

.block-carousel-figure a, .block-carousel-figure img {
    width: 100%;
    display: block;
}

.block-carousel-figure .marker {
    width: 100%;
    bottom: .4rem;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}

.block-carousel-figure .marker span {
    display: inline-block;
    width: .38rem;
    height: .035rem;
    margin:0 .03rem;
    background: rgba(255,255,255,.5);
}

.block-carousel-figure .marker .pointer {
    background: #f5734b;
}

.block-five-category {
    width: 100%;
}

.block-five-category .five-img {
    display: flex;
    padding: 0 .2rem;
    background-color: #fff;
}

.block-five-category a {
    width: 20%;
    flex: 1;
}

.block-five-category div {
    width: 100%;
    margin: 0 auto;
    padding:.2rem;
}

.block-five-category img {
    width: 100%;
    display: block;
}

.block-five-category p {
    height: 16px;
    margin: 0 auto 8px;
    text-align: center;
    overflow: hidden
}

.block-five-category div a {
    color: #666
}

.block-hot-product {
    width: 100%;
}
.block-hot-product .back{
    padding: 0 .15rem 0.2rem .2rem;
}

.block-hot-product .product {
    display: flex;
    flex-wrap: wrap;
    border-radius: 0 0 .2rem .15rem;
    overflow: hidden;
}

.block-hot-product .product .every {
    width: 33.3333%;
}

.block-hot-product .product .pro-one {
    display: block;
    position: relative;
    background-color: #fff;
    border-width: 0.5px 0.5px 0 0;
    border-style: solid;
}

.block-hot-product .product .pro-img {
    text-align: center;
    padding: 0.2rem;
}

.block-hot-product .product .pro-img img {
    width: 100%;
    vertical-align: top;
}

.block-hot-product .product .pro-name {
    overflow: hidden;
    padding: 0 0.2rem;
    white-space: pre-wrap;
    word-wrap: break-word;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
    color: #333;
    text-align: center;
}

.block-hot-product .product .pro-price {
    padding: 0.1rem 0.2rem;
    text-align: center;
}

.block-hot-product .product .pro-price span {
    color: #f50;
}

.block-hot-product .product .pro-sales {
    padding: 0 0.2rem 0.2rem;
    text-align: center;
    clear: both;
}

.block-hot-product .product .pro-sales span {
    display: inline-block;
    padding: 0.05rem 0.2rem;
    border-radius: 1rem;
    background-color: #f50;
    color: #fff;
}

.block-two-image {
    width: 100%;
}

.block-two-image .picture {
    display: flex;
    padding: .2rem .2rem 0;
}

.block-two-image .picture > div {
    flex: 1;
    width: 50%;
    overflow: hidden;
}

.block-two-image .picture a {
    display: block;
}

.block-two-image .picture img {
    width: 100%;
    display: block;
}

.block-two-image .picture .picture-1 {
    border-top-left-radius:3px;
}

.block-two-image .picture .picture-2 {
    border-top-right-radius:3px;
}

.block-product {
    width: 100%;
}

.block-product .product-double {
    padding: .2rem .2rem 0;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.block-product .product-double .every {
    width: 50%;
    overflow: hidden;
    margin-bottom: .2rem;
}

.block-product .product-double .pro-one {
    display: block;
    margin-right: .1rem;
    position: relative;
    background-color: #fff;
}

.block-product .product-double .pro-one.pro-line {
    margin-right: 0;
    margin-left: .1rem;
}

.block-product .product-double .pro-img {
    text-align: center;
}

.block-product .product-double .pro-img img {
    width: 100%;
    vertical-align: top;
}

.block-product .product-double .pro-like {
    margin: 0 .2rem;
}

.block-product .product-double .pro-name {
    height: 1rem;
    line-height: 0.5rem;
    margin: 0.1rem 0 0;
    overflow: hidden;
    white-space: pre-wrap;
    word-wrap: break-word;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    color: #333
}

.block-product .product-double .pro-price {
    margin-bottom: .1rem;
}

.block-product .product-double .pro-price .sell {
    margin-right: 0.1rem;
    color: #f50;
}

.block-product .product-double .pro-price .sell b {
    font-size: 16px
}

.block-product .product-double .pro-price .market {
    color: #666
}

.block-product .product-double .pro-sales {
    padding-bottom: 0.2rem;
    text-align: center;
    clear: both;
}

.block-product .product-double .pro-sales span {
    display: block;
    padding: 0.15rem 0;
    border-radius: 0.1rem;
    background-color: #f50;
    color: #fff;
}

.block-product .product-double .pro-prom {
    position: absolute;
    top: .2rem;
    right: 0;
    padding: 0.08rem 0.1rem;
    background-color: #f50;
    color: #fff
}

.block-product .product-double .pro-none {
    display: none;
}