html, body {
    height: 100%;
    background-color: #f1f1f1;
}

.possword {
    padding-top: 0.4rem;
    font-size: 14px;
}

.possword .field {
    display: flex;
    -webkit-box-align: center;
    border-bottom: 1px solid #ddd;
    padding: .37rem .26rem;
    color: #6c6c6c;
    background-color: #fff;
    text-align: left;
}

.possword .field .label {
    width: 2rem;
    color: #333;
}

.possword .field .control {
    flex: 1;
}

.possword .field .control .required {
    -webkit-appearance: none;
    width: 100%;
    padding: 0;
    border: 0;
    background-color: transparent;
    color: #666;
}

.possword .field .control .required::-webkit-input-placeholder {
    color: #d7d7d7;
}

.possword .submit {
    margin: 0.4rem;
}

.possword .submit .enter {
    width: 100%;
    height: 1.1rem;
    line-height: 1.1rem;
    border: 1px solid #f50;
    border-radius: 3px;
    color: #fff;
    background-color: #f50;
    text-align: center;
    font-size: 16px;
    display: block;
}