.app-sale-title {
    width: 100%;
    height: 0.96rem;
    background-color: #fe7900;
}

.app-sale-title .every {
    float: left;
    width: 25%;
    position: relative;
    height: 0.96rem;
}

.app-sale-title .key {
    display: block;
    height: 0.96rem;
    padding: 0.24rem 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    text-align: center;
    color: #fff;
}

.app-sale-title .current {
    font-weight: 700;
    color: #333;
}

.app-sale-activity {
    width: 100%;
}

.app-sale-activity .active {
    margin: 0 auto 0.08rem;
    position: relative;
    background-color: #fff;
    clear: both;
}

.app-sale-activity .active .link {
    height: 3.6rem;
    width: 100%;
    overflow: hidden;
}

.app-sale-activity .active .link a {
    display: block;
}

.app-sale-activity .active .link img {
    display: block;
    width: 100%;
}

.app-sale-activity .active .discount {
    position: absolute;
    top: 0.15rem;
    left: 0;
    padding: 0.06rem 0.31rem 0.06rem 0.18rem;
    border-radius: 0 0.46rem 0.46rem 0;
    font-size: 12px;
    background-color: #f50;
    color: #fff;
}

.app-sale-activity .info {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    padding: .15rem;
    color: #333;
    background-color: rgba(255, 255, 255, 0.4);
}

.app-sale-activity .info span {
    height: 0.5rem;
}

.app-sale-activity .info .name {
    width: 70%;
}

.app-sale-activity .info .time {
    width: 30%;
    text-align: right;
    color: #333;
}

.app-sale-activity .info .time i {
    display: inline-block;
    width: 0.5rem;
    height: 0.5rem;
    padding-right: 0.03rem;
    vertical-align: middle;
    background: url(/picture/sale.png) 0 .03rem/.4rem .4rem no-repeat;
}