#hd {
    width: 100%
}

#hd .index {
    width: 100%;
    height: 55px;
    position: fixed;
    top: 0px;
    z-index: 100;
    background: #fff
}

#hd .index .head {
    position: relative;
    padding-top: 6px
}

#hd .index .logo {
    position: absolute;
    left: 0;
    top: 6px;
    background: url(/picture/newlogo.png) no-repeat;
    width: 75px;
    height: 42.5px;
    background-size: 100%
}

#hd .index .search {
    height: 42.5px;
    padding: 0 55px 0 75px
}

#hd .index .sea-min {
    height: 42.5px;
    border: 1px solid #d2d2d2;
    border-radius: 5px
}

#hd .index .sea-txt {
    position: relative;
    padding: 6px
}

#hd .index .search input {
    width: 100%;
    display: block;
    padding-right: 50px;
    height: 30px;
    color: #cacaca;
    border: none;
}

#hd .index .search span {
    position: absolute;
    right: 5px;
    top: 6px;
    width: 36px;
    height: 30px;
    padding-left: 5px;
    border-left: 1px solid #ddd
}

#hd .index .search span i {
    display: block;
    width: 20px;
    height: 20px;
    margin: 5px auto;
    background: url(/picture/home-search.png) 0 0 no-repeat;
    background-size: 100%
}

#hd .index .user {
    position: absolute;
    right: 0;
    top: 6px;
    width: 55px;
    height: 42.5px
}

#hd .index .user a {
    display: block;
    width: 30px;
    height: 30px;
    margin: 6px auto 0;
    background: url(/picture/home-user.png) 0 0 no-repeat;
    background-size: 100%
}

#hd .header {
    width: 100%;
    position: relative;
    z-index: 510;
    background-color: #f50;
    height: 1.1rem;
}

#hd .header .back {
    position: absolute;
    top: 0;
    left: 0;
    width: 1.1rem;
    height: 1.1rem;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -ms-box-pack: center;
    -o-box-pack: center;
    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-box-align: center;
    -o-box-align: center;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-box;
    display: -o-box;
}

#hd .header .back:after {
    content: "";
    display: block;
    width: 12px;
    height: 18px;
    background: url(/picture/back.png) 0 0/100% no-repeat;
}

#hd .header .hear {
    text-align: center;
    line-height: 1.2rem;
    font-size: 14px;
    font-weight: 500;
    margin: 0 1.1rem;
    height: 1.1rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #fff;
}

#hd .header .more {
    position: absolute;
    right: 0;
    top: 0;
    width: 1.1rem;
    height: 1.1rem;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -ms-box-pack: center;
    -o-box-pack: center;
    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-box-align: center;
    -o-box-align: center;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-box;
    display: -o-box;
}

#hd .header .more:after {
    content: "";
    display: block;
    width: 23px;
    height: 5px;
    background: url(/picture/control.png) 0 0/100% no-repeat;
}

#hd .kd-alert {
    display: none;
    width: 100%;
    position: absolute;
    right: 0px;
    top: 1.1rem;
    z-index: 1;
    background-color: #fff
}

#hd .kd-alert .alert {
    width: 100%;
    display: flex;
}

#hd .kd-alert .alert a {
    display: block;
    flex: 1;
    padding: 0.3rem 0;
    text-align: center;
    text-decoration: none;
    color: #666;
    border-bottom: 1px solid #ccc
}

#hd .kd-alert .alert a i {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 2px;
    vertical-align: top;
}

#hd .kd-alert .alert a span {
    display: inline-block;
    height: 20px;
    line-height: 20px
}

#hd .kd-alert .alert .shouye {
    background: url(/picture/home.png) 0px 0px/100% no-repeat;
}

#hd .kd-alert .alert .fenlei {
    background: url(/picture/category.png) 0px 0px/100% no-repeat;
}

#hd .kd-alert .alert .gouwudai {
    background: url(/picture/cart.png) 0px 0px/100% no-repeat;
}

#hd .kd-alert .alert .wode {
    background: url(/picture/user.png) 0px 0px/100% no-repeat;
}

#bd {
    min-width: 320px;
    max-width: 640px;
    margin: 0 auto;
    overflow: hidden
}

#ft {
    width: 100%;
    text-align: center;
    color: #999
}

#ft .contact {
    border-top: 1px solid #ddd;
    padding: 15px 0px
}

#ft .contact p {
    line-height: 18px
}

#ft .contact a {
    color: #999
}

#api {
    display: none
}

.kd-seet {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 500;
    background-color: rgba(0, 0, 0, 0.1);
}

#J-GoTop {
    position: fixed;
    right: 10px;
    bottom: 30px;
    z-index: 10;
    display: none
}

#J-GoTop span {
    display: block;
    background: url(/picture/top.png) no-repeat;
    background-size: 100% 100%;
    width: 40px;
    height: 40px
}