#bd {
    background-color: #f1f1f1
}

.hr {
    display: block;
    height: 1px;
    background-color: #d5d5d5;
}

.user-info {
    background: url(/picture/user-banner.jpg) 0 0/100% 100% no-repeat;
    width: 100%;
    position: relative
}

.user-info .user-avatar {
    text-align: center;
    padding: .3rem 0 .25rem
}

.user-info .user-avatar span {
    display: block;
    margin: 0 auto;
    padding: 1px;
    width: 2rem;
    height: 2rem;
    overflow: hidden;
    border-radius: 100%;
    background: rgba(255, 255, 255, .7);
}

.user-info .user-avatar img {
    width: 100%;
    border-radius: 100%;
    vertical-align: top;
}

.user-info .user-name {
    text-align: center;
    font-size: 14px;
    color: #fff;
    padding-bottom: .2rem;
}

.user-info .user-level {
    position: absolute;
    right: .3rem;
    top: .3rem;
    color: #f1f1f1;
    font-size: 12px
}

.user-money {
    display: flex;
    background-color: #fff;
    margin-bottom: .25rem;
    border-bottom: 1px solid #d5d5d5
}

.user-money a {
    width: 25%;
    flex: 1;
    text-align: center;
    text-decoration: none;
    margin: 0.2rem 0px;
}

.user-money a strong {
    display: block;
    color: #333;
    font-size: 14px;
    font-weight: 500
}

.user-money a span {
    display: block;
    color: #666;
    font-size: 12px
}

.user-order {
    display: flex;
    background-color: #fff;
    margin-bottom: .25rem;
    border-bottom: 1px solid #d5d5d5;
    border-top: 1px solid #d5d5d5
}

.user-order a {
    width: 25%;
    flex: 1;
    text-align: center;
    text-decoration: none;
    margin: .2rem 0px;
    color: #333
}

.user-order a span {
    display: block;
    position: relative
}

.user-order a span:before {
    content: "";
    display: block;
    width: .76rem;
    height: .76rem;
    margin: 0 auto 2px;
}

.user-order a.order span:before {
    background: url(/picture/send.png) 0 0/100% no-repeat;
}

.user-order a.pay span:before {
    background: url(/picture/pay.png) 0 0/100% no-repeat;
}

.user-order a.send span:before {
    background: url(/picture/deliver.png) 0 0/100% no-repeat;
}

.user-order a.evaluate span:before {
    background: url(/picture/evaluate.png) 0 0/100% no-repeat;
}

.user-order em {
    display: block;
    font-style: normal;
    border-radius: 100%;
    background-color: #f50;
    width: .52rem;
    height: .52rem;
    line-height: .52rem;
    font-size: 12px;
    position: absolute;
    top: -3px;
    right: 22%;
    color: #fff
}

.user-common {
    background-color: #fff;
    margin-bottom: .25rem;
    border-bottom: 1px solid #d5d5d5;
    border-top: 1px solid #d5d5d5
}

.user-common a {
    display: block;
    text-decoration: none;
    color: #666;
    font-size: 14px;
    line-height: .48rem;
    padding: .25rem .4rem;
    position: relative
}

.user-common a strong {
    font-weight: 500;
}

.user-common a em {
    display: block;
    position: absolute;
    background: url(/picture/arrow.png) 0 0/5px 16px no-repeat;
    width: 5px;
    height: 16px;
    top: .25rem;
    right: .4rem;
}

.user-common .hr {
    margin: 0 .25rem;
}

.user-common .count {
    position: absolute;
    right: .8rem;
    top: .25rem;
}

.user-common .pink {
    color: #f50
}

.user-common .count i {
    font-style: normal;
    font-weight: 500
}

.user-logout {
    background-color: #fff;
    border-top: 1px solid #d5d5d5;
}

.user-logout > div {
    
    padding: .3rem .4rem;
    text-align: center;
    color: #f50;
    font-size: 16px;
    font-weight: 500
}

.user-error {
    padding: 1rem .5rem;
    text-align: center
}