{% extends '../system/layout.html' %}

{% block title %}
    <title>{{ title }} - Test failed</title>
{% endblock %}

{% block style %}
    <link rel="stylesheet" href="../build/home.css" />
{% endblock %}

{% block header %}
    <div class="index">
        <div class="head">
            <div class="logo"></div>
            <div class="search">
                <div class="sea-min">
                    <div class="sea-txt">
                        <input type="text" value="搜索商品or品牌" id="txtKeyword">
                        <span id="btnSearch"><i></i></span>
                    </div>
                </div>
                <input type="hidden" id="client_gid" value="c1d38f1b-6099-482f-8fdd-c8aaa61a188f">
            </div>
            <div class="user">
                <a href="/user"></a>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="main" style="padding-top:55px">
        {% autoescape false %}{{ data }}{% endautoescape %}
    </div>
    <div id="J-GoTop"><span></span></div>
{% endblock %}

{% block footer %}
{% include '../system/footer.html' ignore missing %}
{% endblock %}

{% block script %}
    <script type="text/javascript" src="../build/home.js"></script>
{% endblock %}