{% extends '../system/layout.html' %}

{% block title -%}
    <title>{{ title }} - Test failed</title>
{%- endblock %}

{% block style -%}
    <link rel="stylesheet" href="../build/home.css" />
{%- endblock %}

{% block header -%}
    <div class="block-head">
        <div class="hold"></div>
        <div class="main">
            <div class="head">
                <div class="check-city">
                    <span>北京</span>
                    <i></i>
                </div>
                <div class="search">
                    <div class="circle">
                        <input class="search-txt" value="" placeholder="请输入关键字" type="text" />
                        <span class="search-go"></span>
                    </div>
                </div>
                <div class="user">
                    <a href="/user"></a>
                </div>
            </div>
        </div>
    </div>
{%- endblock %}

{% block content -%}
{% autoescape false -%}{{ data }}{%- endautoescape %}
{%- endblock %}

{% block footer -%}
{% include '../system/footer.html' ignore missing %}
{% include '../system/download.html' ignore missing %}
{%- endblock %}

{% block script -%}
    <script type="text/javascript" src="../build/home.js"></script>
{%- endblock %}