{% extends '../system/layout.html' %}

{% block title -%}
    <title>{{ title }} - Test failed</title>
{%- endblock %}

{% block style -%}
    <link rel="stylesheet" href="../build/user-home.css" />
{%- endblock %}

{% block header -%}
{% include '../system/header.html' ignore missing %}
{%- endblock %}

{% block content -%}
{% autoescape false %}{{ data }}{% endautoescape %}
{%- endblock %}

{% block footer -%}
{% include '../system/footer.html' ignore missing %}
{%- endblock %}

{% block script -%}
    <script type="text/javascript" src="../build/user-home.js"></script>
{%- endblock %}